<!--@subject {{trans "Call For Price"}}@-->
<!--@vars {
"var msg": "msg",
} @-->
<table style="max-width: 600px; width: 100%;background:#ffffff; margin: 0 auto; border-spacing: 0px;">
    <tbody>
        <tr>
            <td>
                <div>
                    <div style="color: #ffffff;background: linear-gradient(260deg,rgba(195,26,127,1) 0%,rgba(23,73,154,1) 82%);font-size: 26px;font-weight: 700;text-align: center;padding: 60px 0px;">
                        {{trans "Call For Price"}}
                    </div>
                    <div style="padding:40px 0px 11px 0px;">
                        <div style="line-height: 25px;padding-top:10px;text-align: center;font-size: 16px;color:#404040;"><span style="font-weight: bold; color: #c44980;"> {{var msg}}</span></div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>